.AccueilGrappes {
  display: flex;
  flex-direction: row;
}

.AccueilGrappes--maitres {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: nowrap;
  border-bottom: 2px solid;
  min-width: 100%;
}
